html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

.container {
  height: 80%;
  width: 80%;
  margin: 10%;

  .calendar {
    height: 100%;
    width: 100%;

    .r {
      height: 4.166%;
      width: 100%;
      // outline: 1px solid black;

      .c {
        height: 100%;
        width: 14.285%;
        outline: 1px solid black;
      }
    }
  }
}
