html, body {
  height: 100vh;
  width: 100vw;
  margin: 0;
}

.container {
  width: 63%;
  padding: 5% 20% 5% 17%;
  font-family: "Lato", sans-serif;
  color: black;

  .r {
    height: 23px;
    width: 100%;

    .c {
      height: 100%;
      width: 14.285%;
      background: white;
      float: left;
    }
  }

  .times {
    width: 3%;
    margin-top: 40px;
    margin-bottom: 10px;
    padding-right: 1%;
    float: left;
    text-align: right;
    font-size: .75em;

    .r {
      margin: 1px 0;
    }
  }

  .days {
    width: 95%;
    float: right;
    text-align: center;

    table.calendar {
      width: 100%;
      padding: 0;
      border-top: 3px solid black;
      border-bottom: 3px solid black;
      -webkit-border-horizontal-spacing: 1px;
      -webkit-border-vertical-spacing: 0;

      tr.r {
        height: 22px;

        td.c {
          padding: 12px 0;
          outline: 1px solid black;
        }

        .selected {
          background: green;
        }
      }
    }
  }

  .results {
    width: 60%;
    position: absolute;
    bottom: 15%;
    margin-left: 3%;
    text-align: center;
  }
}
